body{
  background-color: #fdaebc;
}

h1{
  color: rgba(8, 141, 165, 1);
  margin-left: 100px;
  text-shadow: 1px  .5px  4px rgba(0, 0, 0, 0.6);
}

.container{
  width: 450px;
  height: 450px;
  background-color: #faebd7;
  border: 2px solid black;
  border-radius: 5%;
}

.container .squares:nth-child(-n+4){
  background-image: url("../img/Basic HTML Template_Smiles Icons/smileyface2.png");
  color: #38eacf;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 25%;
  cursor: pointer;
}

.squares: nth-child (-n+4) p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

.squares: nth-child (-n+1) {
  background-color:#ff5733;
}

.squares: nth-child (2) {
  background:#ab3fdd;
}

.squares: nth-child (4) {
  background:#ae163a;
}

.squares: nth-child (4) {
  background:#00b200;
}
